@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --bg-darkurl: url("Assets/login-night.jpeg") center / cover no-repeat;
    --txt-dark: #e4e1e1;
    --border-dark:#ffffff80;
    --container-darkbg:#00000073;
}
body {
  min-height: 100vh;
  background: var(--bg-darkurl);
  font-family: 'Inter', sans-serif;
  color: var(--txt-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login-container {
  background: var(--container-darkbg);
  backdrop-filter: blur(6px);
  padding: 3rem 4rem;
  border-radius: 14px;
  color: var(--txt-dark);
  width: 400px;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.login-form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.login-form label {
  font-size: 14px;
  margin-bottom: 6px;
  opacity: 0.8;
}

.login-form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--border-dark);
  padding: 6px 2px;
  color: var(--txt-dark);
  font-size: 15px;
}

.login-form input::placeholder {
  color: #ffffff66;
}

.remember {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 2rem;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
    opacity: 0.6;
    transform:translate(1.1);
    background-color: var(--txt-dark);
}
.errorText {
    color: #ff6b6b;
    font-size: 14px;
    display: block;
}

.lnk a{
  font-size: small;
  color: var(--txt-dark);
  text-decoration: none;
  align-items: center;
}

.lnk a:hover {
  transform: translate(1.1);
  opacity: 0.8;
}
